body {
    font-family: 'Open Sans', sans-serif;
    background-color: #050510;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    object-fit: cover;
}

.image-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

audio {
    width: 100%; /* Faz com que o áudio ocupe 100% do contêiner */
    display: block; /* Exibe o áudio como bloco */
}

.audio-container {
    width: 80%; /* Define a largura desejada do player */
    margin: 20px auto; /* Centraliza o contêiner e dá espaçamento acima e abaixo */
}

#sep-line {
    border: none;               /* Remove a borda padrão */
    height: 2px;                /* Define a altura da linha */
    background-color: #fff;    /* Cor da linha */
    margin: 10px 0;             /* Espaço acima e abaixo da linha */
    width: 80%;                 /* Largura da linha (50% da largura do contêiner) */
    max-width: 600px;           /* Largura máxima da linha */
    margin-left: auto;          /* Centraliza a linha */
    margin-right: auto;         /* Centraliza a linha */
}

#juntos {
    font-weight: bold;
    font-size: 0.9em;
    color: #b6b6b6; /* Cor para o texto "Juntos há" */
    margin-top: 10px;
}

#heart {
    font-size: 2.0em;
    margin: 0px 0;
}

#contador {
    font-size: 1.5em;
    margin: 0px 0;
    white-space: normal; /* Permite quebra de linha */
    word-wrap: break-word; /* Quebra palavras longas quando necessário */
    display: inline-block;
    word-break: break-word; /* Também quebra palavras que são muito longas para o container */
}

#texto {
    white-space: normal; /* Faz o texto quebrar automaticamente sem considerar as quebras de linha manuais */
    word-wrap: break-word; /* Quebra as palavras longas se necessário */
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    img {
        object-fit: contain;
    }
}
