body {
    font-family: 'Open Sans', sans-serif;
    background-color: #05051a;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

#sep-line {
    border: none;               /* Remove a borda padrão */
    height: 2px;                /* Define a altura da linha */
    background-color: #fff;    /* Cor da linha */
    margin: 20px 0;             /* Espaço acima e abaixo da linha */
    width: 50%;                 /* Largura da linha (50% da largura do contêiner) */
    max-width: 600px;           /* Largura máxima da linha */
    margin-left: auto;          /* Centraliza a linha */
    margin-right: auto;         /* Centraliza a linha */
}


#juntos {
    font-weight: bold;
    font-size: 0.8em;
    color: #5a5a5a; /* Cor para o texto "Juntos há" */
    margin-bottom: 10px; /* Espaço entre os elementos */
}

#contador {
    font-size: 1.5em;
    margin: 20px 0;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 10px; /* Espaço entre os elementos */
}

.image-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    object-fit: cover;
}

.audio-container {
    width: 80%; /* Define a largura desejada do player */
    margin: 20px auto; /* Centraliza o contêiner e dá espaçamento acima e abaixo */
}

/* Áudio */
audio {
    width: 100%; /* Faz com que o áudio ocupe 100% do contêiner */
    display: block; /* Exibe o áudio como bloco */
}


p {
    font-size: 1.2em;
    margin-top: 20px;
}

@media (max-width: 768px) {
    img {
        object-fit: contain;
    }
}
