* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #050510;
    color: #ffffff;
    text-align: center;
}

.slider {
    width: 100%;
    height: 500px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.list img {
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}


.buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.dots {
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.dots li.active{
    width: 30px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-top: 20px;
}


audio {
    width: 100%; /* Faz com que o áudio ocupe 100% do contêiner */
    display: block; /* Exibe o áudio como bloco */
}

.audio-container {
    width: 80%; /* Define a largura desejada do player */
    margin: 20px auto; /* Centraliza o contêiner e dá espaçamento acima e abaixo */
}

#sep-line {
    border: none;               /* Remove a borda padrão */
    height: 2px;                /* Define a altura da linha */
    background-color: #fff;    /* Cor da linha */
    margin: 10px 0;             /* Espaço acima e abaixo da linha */
    width: 80%;                 /* Largura da linha (50% da largura do contêiner) */
    max-width: 600px;           /* Largura máxima da linha */
    margin-left: auto;          /* Centraliza a linha */
    margin-right: auto;         /* Centraliza a linha */
}

#juntos {
    font-weight: bold;
    font-size: 0.9em;
    color: #b6b6b6; /* Cor para o texto "Juntos há" */
    margin-top: 10px;
}

#heart {
    font-size: 2.0em;
    margin: 0px 0;
}

#contador {
    font-size: 1.5em;
    margin: 0px 0;
    width: 100%;
    text-align: center;
    white-space: normal; /* Permite quebra de linha */
    word-wrap: break-word; /* Quebra palavras longas quando necessário */
    display: inline-block;
    word-break: break-word; /* Também quebra palavras que são muito longas para o container */
}

#texto {
    white-space: normal; /* Faz o texto quebrar automaticamente sem considerar as quebras de linha manuais */
    word-wrap: break-word; /* Quebra as palavras longas se necessário */
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .slider {
        height: auto;
        aspect-ratio: 0.9;
    }
    .buttons button {
        width: 40px;
        height: 40px;
    }
    .dots li {
        width: 8px;
        height: 8px;
    }
}
